@import "../styling/main.css";

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

body{
    font-family: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
    background-color: rgb(154, 175, 112);
}

p {
    font-size: 15pt;
}

.backtop {
    display: block;
    text-align: center;
  }

.centre{
    text-align: center;
    position: relative;
}

hr {
    border: 1px solid rgb(222, 226, 216);
    border-radius: 10px;
}
