body {
    background-image: url("../images/Backdrop.gif");
}

.fadeout {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Black.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

.logo_holder {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 80%;
}

.logo {
    width: 100%;
    object-fit: cover;

}
.center_content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.center_content h1 {
    font-family: 'Montserrat-Light', sans-serif;
    color: white;
    font-weight: normal;
    margin-bottom: 0.25em;
}

.center_content h2 {
    font-family: 'Montserrat-Light', sans-serif;
    color: white;
    font-weight: normal;
    margin-bottom: 0.25em;
}

.center_content .button {
    font-family: 'Montserrat-Regular', sans-serif;
    text-decoration: none;
    display: grid;
    align-content: center;
    text-align: center;
    border-radius: 5em;
    margin-top: 2em;
    cursor: pointer;
    border: 5px solid #54df5e;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
}

.page {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-editor {
    font-family: 'Montserrat-Regular', sans-serif;
    text-decoration: none;
    color: white;
    align-self: self-end;
    margin-top: 7em;
    margin-right: 2em;
}