@import "../styling/main.css";

#svgJS {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    }
    .centre{
        text-align: center
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }

    #svgJS g:hover polyline,
    #svgJS g:hover line {
    fill: none;
    stroke-width: 2;
    stroke: black;
    }

    #svgJS g:hover g text,
    #svgJS g:hover text {
        font-weight: bold;
        fill:rgb(196, 206, 206)
    }

    #svgJS g:hover polygon,
    #svgJS g:hover rect,
    #svgJS g:focus polygon,
    #svgJS g:focus rect {
    fill: rgb(48, 94, 94);
    stroke: black;
    stroke-width: 2;
    } 